@import '../../config/globalStyle.scss';
@import '~include-media/dist/include-media';

.profileContainer h1 {
  vertical-align: middle;
  font-size: toSize(35);
  margin: 0;
}

.profileContainer p {
  font-weight: 500;
  font-size: toSize(20);
}

.profileContainer span {
  font-weight: 500;
  font-size: toSize(15);
}

.interestBox {
  display: flex;
  margin: toSize(50) 0;
}

.interests span {
  vertical-align: middle;
  padding: 5px;
  margin-right: toSize(7);
  border-radius: 5px;
  background-color: #d9d9d9;
}
