@import '../../config/globalStyle.scss';
@import '~include-media/dist/include-media';

.profileContainer h1 {
  vertical-align: middle;
  font-size: toSize(35);
  margin: 0;
}

.profileContainer p {
  font-size: 2em;
  font-weight: 500;
  font-size: toSize(20);
}

.profileContainer span {
  font-size: 1.5em;
  font-weight: 500;
  font-size: toSize(15);
}

.interestBox {
  display: flex;
  margin: 50px 0;
}

.interests span {
  vertical-align: middle;
  padding: 5px;
  margin-right: toSize(7);
  border-radius: 5px;
  background-color: #d9d9d9;
}

@media (max-width: 1440px) {
  .profileContent h1 {
    font-size: toSize(35);
  }

  .profileContent p {
    font-size: toSize(20);
  }

  .profileContent span {
    font-size: toSize(15);
  }
}
