@import '../../../config/globalStyle.scss';
@import '~include-media/dist/include-media';

.chatTotalContainer {
  display: flex;
  justify-content: center;
  height: toSize(773);
  @include media('>1440px') {
    height: 773px;
  }

  .chatListContainer {
    align-items: center;
    width: toSize(300);
    overflow-x: hidden;
    overflow-y: auto;
    @include media('>1440px') {
      width: 300px;
    }
    &::-webkit-scrollbar {
      width: toSize(4);
      @include media('>1440px') {
        width: 4px;
      }
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 2px;
      background: #878be5;
    }
  }

  .chatConatainer {
    display: flex;
    flex-direction: column;
    width: toSize(585);
    border-radius: toSize(15);
    margin: 0px toSize(24) 0px toSize(18);
    padding: toSize(16) toSize(15) toSize(23) toSize(16);
    background-color: white;
    @include media('>1440px') {
      width: 585px;
      border-radius: 15px;
      margin: 0px 24px 0px 18px;
      padding: 16px 16px 23px 16px;
    }

    .chatmessagesList {
      display: flex;
      flex-direction: column;
      overflow: auto;
      height: 100%;
      &::-webkit-scrollbar {
        width: toSize(4);
        @include media('>1440px') {
          width: 4px;
        }
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background: #f1f1f1;
      }
    }

    .chatInput {
      width: 100%;
      border: none;
      margin-top: toSize(40);
      padding: toSize(26) toSize(11) toSize(14) toSize(11);
      border-top: solid toSize(1) #c4c4c4;
      font-size: toSize(16);
      color: #6d6d6d;
      font-weight: 500;
      @include media('>1440px') {
        margin-top: 40px;
        padding: 26px 11px 14px 11px;
        border-top: solid 1px #c4c4c4;
        font-size: 16px;
      }
    }
  }

  .sellerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: toSize(281);

    border-radius: toSize(15);
    height: 100%;
    background-color: white;
    padding: toSize(50) toSize(30);
    @include media('>1440px') {
      width: 281px;

      border-radius: 15px;
      padding: 50px 30px;
    }

    @include media('<768px') {
      display: none;
    }

    .profileVinyl {
      width: toSize(215);
      height: toSize(192);
      margin: 0;
      @include media('>1440px') {
        width: 215px;
        height: 192px;
      }
    }

    .turntable {
      width: toSize(215);
      height: toSize(192);
      @include media('>1440px') {
        width: 215px;
        height: 192px;
      }
    }

    .profileImg {
      width: toSize(180);
      height: toSize(180);
      margin-right: toSize(5);
      margin-bottom: toSize(5);
      border-radius: 999px;
      @include media('>1440px') {
        width: 180px;
        height: 180px;
        margin-right: 5px;
        margin-bottom: 5px;
      }
    }

    .gradeImg {
      width: toSize(25);
      margin-right: toSize(82);
      margin-bottom: toSize(82);
      @include media('>1440px') {
        width: 25px;
        margin-right: 82px;
        margin-bottom: 82px;
      }
    }

    .sellerName {
      font-size: toSize(20);
      margin-top: toSize(28);
      margin-bottom: toSize(16);
      font-weight: 700;
      overflow: hidden;
      text-overflow: ellipsis;
      @include media('>1440px') {
        font-size: 20px;
        margin-top: 28px;
        margin-bottom: 16px;
      }
    }

    .sellerIntro {
      width: 100%;
      text-align: center;
      font-size: toSize(16);
      font-weight: 500;
      text-overflow: ellipsis;
      word-break: break-word;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2; // 원하는 라인수
      -webkit-box-orient: vertical;
      @include media('>1440px') {
        font-size: 16px;
      }
    }

    .tagContainer {
      display: flex;
      margin-top: toSize(22);
      margin-bottom: toSize(30);
      height: toSize(28);
      @include media('>1440px') {
        margin-top: 22px;
        margin-bottom: 30px;
        height: 28px;
      }
      .sellerTag {
        background-color: #d9d9d9;
        padding: toSize(5) toSize(12);
        border-radius: toSize(5);
        margin-right: toSize(8);
        font-size: toSize(14);
        font-weight: 500;
        @include media('>1440px') {
          padding: 5px 12px;
          border-radius: 5px;
          margin-right: 8px;
          font-size: 14px;
        }
      }
    }

    .sellerInfoBox {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: toSize(120);
      border-radius: toSize(10);
      box-shadow: toSize(2) toSize(2) toSize(2) toSize(2) rgba(0, 0, 0, 0.1);
      font-size: toSize(15);
      font-weight: 700;
      padding: toSize(10) 0px toSize(23) 0px;
      @include media('>1440px') {
        height: 120px;
        border-radius: 10px;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
        font-size: 15px;
        padding: 10px 0px 23px 0px;
      }

      .countSize {
        font-size: toSize(25);
        color: #30338a;
        @include media('>1440px') {
          font-size: 25px;
        }
      }

      &.mb22 {
        margin-bottom: toSize(22);
        @include media('>1440px') {
          margin-bottom: 22px;
        }
      }
    }
  }
}

.sendIcon {
  position: absolute;
  width: toSize(30);
  height: toSize(30);
  right: toSize(8);
  bottom: toSize(10);
  @include media('>1440px') {
    width: 30px;
    height: 30px;
    right: 8px;
    bottom: 10px;
  }

  &.fSend {
    right: toSize(48);
    @include media('>1440px') {
      right: 48px;
    }
  }
}

.beforeRoom {
  margin-top: toSize(320);
  font-weight: bold;
  font-size: toSize(32);
  text-align: center;
  color: #878be5;
  @include media('>1440px') {
    font-size: 32px;
    margin-top: 320px;
  }
}

.objectInfoContainer {
  position: relative;
  display: flex;
  align-items: center;
  height: toSize(146);
  margin-bottom: toSize(13);
  padding: 0px toSize(9);
  border-bottom: solid toSize(1) #d6d6d6;
  @include media('>1440px') {
    height: 146px;
    margin-bottom: 13px;
    padding: 0px 9px;
    border-bottom: solid 1px #d6d6d6;
  }

  .objectImg {
    width: toSize(111);
    height: toSize(78);
    margin-right: toSize(20);
    object-fit: cover;
    @include media('>1440px') {
      width: 111px;
      height: 78px;
      margin-right: 20px;
    }
  }

  .obTitle {
    font-size: toSize(14);
    font-weight: 500;
    @include media('>1440px') {
      font-size: 14px;
    }

    &.won {
      margin-top: toSize(17);
      font-size: toSize(16);
      @include media('>1440px') {
        margin-top: 17px;
        font-size: 16px;
      }
    }
  }

  .finishBtn {
    cursor: pointer;
    position: absolute;
    top: toSize(20);
    right: toSize(10);
    font-size: toSize(12);
    color: white;
    padding: 0px toSize(20);
    background-color: #30338a;
    border-radius: toSize(5);
    @include media('>1440px') {
      top: 20px;
      right: 10px;
      border-radius: 5px;
      padding: 0px 20px;
      font-size: 12px;
    }
  }
}

.modalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: toSize(40) toSize(76) toSize(26) toSize(76);
  font-size: toSize(16);
  font-weight: bold;
  .modalContent {
    margin-top: toSize(37);
    width: toSize(333);
    height: toSize(200);
    border: solid toSize(0.5) #d6d6d6;
    padding: toSize(9) toSize(13);
    outline: none;
    resize: none;
    font-size: toSize(16);
    font-weight: 700;
  }
  .modalBtnContainer {
    display: flex;
    margin-top: toSize(30);
    .modalBtn {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: toSize(84);
      height: toSize(30);
      border-radius: toSize(5);
      background-color: #30338a;
      color: white;
      font-size: toSize(14);
      font-weight: 500;

      &.mr {
        margin-right: toSize(20);
      }
    }
  }
}
