@import '../../config/globalStyle.scss';
@import '~include-media/dist/include-media';

.mypageMenus {
  width: toSize(220);
  position: relative;
  left: 10px;

  @include media('>1440px') {
    width: 220px;
  }
}

.icon {
  width: toSize(30);
  min-width: 22px;
  margin-right: 10px;

  @include media('>1440px') {
    width: 30px;
  }
}

.mypageMenus {
  padding-left: 10px;
  min-width: 150px;
}

.mypageMenu {
  position: relative;
  list-style-type: none;
  padding: toSize(15);
  color: white;
  font-weight: 500;
  font-size: 2rem;
  z-index: 100;
  display: flex;
  margin: 20px 0;
  @include media('>1440px') {
    padding: 15px;
  }
}

.selected-icon {
  fill: black;
}

.selected {
  background: #f2f2f2;
  border-radius: toSize(10);
  color: black;
  font-weight: bold;
}
