@import '../../config/globalStyle.scss';
@import '~include-media/dist/include-media';

.columnCard {
  width: 100%;
}
.mH {
  margin: 0px toSize(24);
  @include media('>1440px') {
    margin: 0px 24px;
  }
}

/* 공통 스타일 */
.flip-container {
  perspective: 1000px; /* 3D 효과를 위한 perspective 설정 */
  width: 100%;
  height: toSize(500);
  position: relative;
  @include media('>1440px') {
    height: 500px;
  }
}

.flipper {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden; /* 뒷면이 화면에 보이지 않도록 설정 */
}

/* 초기 상태 */
.front {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotateY(0deg);
}

.back {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotateY(180deg);
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0d0f53e6; /* 원하는 배경 색상과 불투명도를 설정 (예: 빨간색, 50% 불투명) */
  }
}

/* Hover 상태 */
.flip-container:hover .flipper {
  transform: rotateY(180deg);
}
