@import '../..//../config/globalStyle.scss';
@import '~include-media/dist/include-media';

.pTContainer {
  padding: toSize(40) toSize(120);
  height: 120px;
}

.button-container {
  width: 100%; /* 부모 컨테이너의 너비 설정 */
  overflow-x: auto; /* 가로 스크롤 활성화 */
}

.button-list {
  white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
  display: inline-block; /* 가로로 나열되도록 함 */
}

button {
  min-width: 100px; /* 버튼의 최소 너비 설정 (선택 사항) */
  padding: 8px;
  margin: 4px;
}
