@import '../../../config/globalStyle.scss';
@import '~include-media/dist/include-media';

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.editInformationContainer {
  position: relative;
  width: toSize(1250);
  @include media('>1440px') {
    width: 1250px;
  }
}
.editInformation {
  width: toSize(180);
  height: toSize(30);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: white;
  font-size: toSize(20);
  font-weight: 700;
  background-color: #30338a;
  border-radius: toSize(8);
  @include media('>1440px') {
    width: 180px;
    height: 30px;
    font-size: 20px;
    border-radius: 8px;
  }
}

// .editForm {
//   width: 100%;
//   background-color: white;
//   border-radius: toSize(15);
//   padding: toSize(105);
//   padding-bottom: toSize(200);
//   font-size: toSize(20);
//   font-weight: 500;
//   @include media('>1440px') {
//     border-radius: 15px;
//     padding: 105px;
//     padding-bottom: 200px;
//     font-size: 20px;
//     font-weight: 500;
//   }
// }

// form {
//   max-width: 400px;
//   margin: 0 auto;
//   padding: 20px;
//   border: 1px solid #ccc;
//   border-radius: 5px;
// }

// label {
//   display: block;
//   margin-top: 10px;
//   font-weight: bold;
// }

// input[type='password'],
// input[type='text'],
// textarea {
//   width: 100%;
//   padding: 10px;
//   margin-top: 5px;
//   border: 1px solid #ccc;
//   border-radius: 5px;
// }

// button {
//   display: inline-block;
//   margin-top: 20px;
//   padding: 10px 20px;
//   background-color: #007bff;
//   color: #fff;
//   border: none;
//   border-radius: 5px;
//   cursor: pointer;
// }

/* 추가적인 스타일을 여기에 계속해서 추가하세요. */
