.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100px;
  background-color: transparent;
}

.logo {
  margin: 0 20vw;
}
.menu {
  font-size: 1.8rem;
  font-weight: 500;

  &.mSpace {
    margin-right: 2.4rem;
  }
}
