.headerContainer {
  display: flex;
  position: relative;
  z-index: 2;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  background-color: transparent;
  padding: 0 16vw;
}

.mobileHeader {
  color: white;
  display: none;
  position: relative;
  z-index: 2;
  height: 100px;
  justify-content: space-between;
  background-color: transparent;
}

@media (min-width: 1440px) {
  .headerContainer {
    padding: 0 calc(230px + (100vw - 1440px) / 2);
  }
}

.logo {
  width: 100px;
  height: 100px;

  &.mobile {
    width: 10vw;
    height: 10vw;
  }
}

.hamburger {
  width: 5vw;
  height: 5vw;
  margin: 2vw 2vw 0px 0px;
  cursor: pointer;

  &.wBurger {
    align-self: flex-end;
  }
}

.hMenu {
  z-index: 3;
  height: 100%;
  width: 100%;
  right: -100%;
  top: 0;
  position: fixed;
  background-color: #30338a;
  transition: 0.5s ease;
  &.open {
    right: 0;
    transition: 0.5s ease;
  }
  &.close {
    right: -100%;
    transition: 0.5s ease;
  }
}

.hMenuContainer {
  display: flex;
  justify-content: space-between;
}

.menu {
  font-size: 20px;
  font-weight: 500;

  &.mSpace {
    margin-right: 2.4rem;
  }
}

.mMenu {
  margin: 0px 9vw;
  padding: 4vw 0px 4vw 2vw;
  font-size: 5vw;
  color: white;
  font-weight: 500;
  border-bottom: solid 1px white;
}

@media (max-width: 1440px) {
  .menu {
    font-size: 1.4vw;
  }
}

// 웹 메뉴 <-> 모바일 메뉴
@media (max-width: 768px) {
  .mobileHeader {
    display: flex;
  }
  .headerContainer {
    display: none;
  }
}
