@import '../../config/globalStyle.scss';
@import '~include-media/dist/include-media';

.MpContainer {
  display: flex;
  justify-content: center;
  background: #f2f2f2;
  height: 100vh;
}

.MpContent {
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  align-items: center;
  margin-top: toSize(-70);
}

.figures {
  width: toSize(400);
  margin-top: toSize(60);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.figure {
  background: #f2f2f2;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: toSize(15);
  width: toSize(200);
  height: toSize(110);
  text-align: center;
}

.figure div {
  width: toSize(160);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.figure h2 {
  font-size: toSize(15);
  margin: toSize(10);
}

.figure img {
  width: toSize(40);
  height: toSize(40);
}

.figure span {
  font-size: toSize(18);
  font-weight: 500;
  font-style: italic;
  color: #30338a;
}
.figure p {
  font-size: toSize(20);
  font-weight: 500;
  color: #30338a;
}
