@import '../../config/globalStyle.scss';
@import '~include-media/dist/include-media';

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.content {
  width: 80vw;
  max-width: 1080px;
  height: 100vh;
  padding: toSize(80);
  box-sizing: border-box;
  border-radius: 15px 15px 0 0;
  background: #f2f2f2;
  margin-right: 20px;

  @include media('>1440px') {
    padding: 80px;
  }
}

.figures {
  margin-top: toSize(60);
  display: flex;
  justify-content: space-around;

  @include media('>1440px') {
    margin-top: 60px;
  }
}

.figure {
  background-color: white;
  width: toSize(280);
  height: toSize(110);
  text-align: center;
  @include media('>1440px') {
    width: 280px;
    height: 110px;
  }
}

.figure div {
  width: toSize(160);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include media('>1440px') {
    width: 160px;
  }
}

.figure img {
  width: toSize(40);
  height: toSize(40);
  @include media('>1440px') {
    width: 40px;
  }
}

.figure span {
  font-size: 1.8em;
  font-weight: 500;
  font-style: italic;
  color: #30338a;
}
.figure p {
  font-size: 2em;
  font-weight: 500;
  color: #30338a;
}

.container hr {
  margin: toSize(50) 0;
  @include media('>1440px') {
    margin: 50px 0;
  }
}

@media (max-width: 1440px) {
  .figure span {
    font-size: toSize(18);
  }
  .figure p {
    font-size: toSize(20);
    margin: toSize(20);
  }
  .figure h2 {
    font-size: toSize(15);
    margin: toSize(10);
  }
}
