@import '~include-media/dist/include-media';
@import '../../config/globalStyle.scss';

.tabs-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px toSize(120);

  .tab-list {
    position: relative;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .tab {
    cursor: pointer;
    padding: 21px 27px 17px 27px;
    background-color: #fff;
    transition: background-color 0.3s;
    user-select: none;
    font-size: 2rem;
    font-weight: 700;
    color: #c4c4c4;
    border-bottom: solid 2px #d6d6d6;
  }

  .tab:hover {
    background-color: #878be5; ////
  }

  .tab.active {
    color: #000;
  }

  .firstIndex {
    border-top-left-radius: 15px;
  }

  .lastIndex {
    border-top-right-radius: 15px;
  }

  .tab-bar {
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 4px;
    background-color: #878be5;
    transition: left 0.3s;
    border-radius: 999px;
  }
}

.tab-content-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 93px;
  background-color: #fff;
  border-radius: 15px;
  border-top-left-radius: 0px;
  font-size: 1.6rem;
  font-weight: 500;

  overflow-x: auto; /* 가로 스크롤 활성화 */
  white-space: nowrap; /* 텍스트 줄 바꿈 방지 */

  .tab-content {
    cursor: pointer;
    display: flex;
    height: 35px;
    align-items: center;
    padding: 0px 38px;
    border-right: solid 1px #d6d6d6;
  }

  .tcActive {
    font-weight: bold;
    color: #878be5;
  }
}

// /* 숨기려는 스크롤 바 스타일 */
// .tab-content-container::-webkit-scrollbar {
//   width: 0.1rem; /* 가로 스크롤 바의 너비를 0으로 설정 */
// }

// .tab-content-container::-webkit-scrollbar-thumb {
//   background: transparent; /* 스크롤 바 슬라이더를 투명으로 설정 */
// }
@media (max-width: 768px) {
  //   .tabs-container {
  //     .tab {
  //       padding: 5px 10px;
  //       font-size: 14px;
  //     }

  //     .tab-bar {
  //       height: 3px;
  //     }
  //   }
}
