@import '../../config/globalStyle.scss';
@import '~include-media/dist/include-media';

.mypageMenus {
  position: fixed;
  bottom: 0;
  background-color: #f2f2f2;
  width: 100vw;
}

.mypageMenus ul {
  display: flex;
  justify-content: space-around;
  padding: toSize(20) toSize(145);
  margin: 0;
}

.mypageMenu {
  list-style-type: none;
  padding: toSize(15);
  color: black;
  font-weight: 500;
  font-size: 2em;
  display: flex;
  @include media('>1440px') {
    padding: 15px;
  }
}

.selected {
  border-radius: toSize(10);
  color: #878be5;
  font-weight: bold;
}

@media (max-width: 1440px) {
  .mypageMenu {
    font-size: toSize(20);
  }
}
