@import '../../config/globalStyle.scss';
@import '~include-media/dist/include-media';

.video-player-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.video-player {
  width: toSize(582);
  height: toSize(360);

  @include media('>1440px') {
    width: 582px;
    height: 360px;
  }
}
.controller {
  margin-left: toSize(30);

  @include media('>1440px') {
    margin-left: 30px;
  }
}
.introLetter {
  font-size: toSize(40);
  font-weight: 500;

  &.mbL {
    margin-bottom: toSize(25);
    @media (min-width: 1440px) {
      margin-bottom: 25px;
    }
  }
  @media (min-width: 1440px) {
    font-size: 40px;
  }
}

.controlBar {
  display: flex;
  align-items: center;
  background-color: #30338a;
  width: toSize(588);
  height: toSize(59);
  margin-bottom: toSize(44);

  @include media('>1440px') {
    width: 588px;
    height: 59px;
    margin-bottom: 44px;
  }
}

.play-pause-button {
  border: none;
  background-color: transparent;
}

.cIcon {
  width: toSize(30);
  height: toSize(30);
  @include media('>1440px') {
    width: 30px;
    height: 30px;
  }
}
