@import '../../../config/globalStyle.scss';
@import '~include-media/dist/include-media';

.MpContainer {
  background: #f2f2f2;
  height: 100vh;
  display: flex;
  @include media('<=768px') {
    height: 90vh;
  }
}

.MpContent {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin-top: toSize(-70);
  padding: 0 10vw;
  overflow: auto;
}

.MpProfile {
  display: flex;
  flex-direction: column;
  @include media('<=768px') {
    align-items: center;
    margin-top: 20px;
  }
}

.figures {
  width: toSize(400);
  margin-top: toSize(20);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  @include media('<=768px') {
    justify-content: center;
    margin-top: toSize(50);
  }
}

.figure {
  background: #f2f2f2;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: toSize(15);
  width: toSize(200);
  height: toSize(110);
  text-align: center;
  @include media('<=768px') {
    width: 30vw;
    height: 16vw;
  }
}

.figure:hover {
  background-color: #878be5;
}

.figure div {
  width: toSize(160);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
}

.figure h2 {
  font-size: toSize(15);
  margin: toSize(10);
  @include media('<=768px') {
    font-size: 2.5vw;
  }
}

.gradeImg {
  width: toSize(40);
  height: auto;
  @include media('<=768px') {
    width: 8vw;
    padding-bottom: 10px;
    margin: auto;
  }
}

.gradeText {
  font-size: toSize(18);
  font-weight: 500;
  font-style: italic;
  color: #30338a;
  @include media('<=768px') {
    display: none;
  }
}
.figure p {
  font-size: toSize(20);
  font-weight: 500;
  color: #30338a;
  @include media('<=768px') {
    font-size: 5vw;
  }
}

@media (max-width: 768px) {
  .MpContent {
    flex-direction: column;
    justify-content: center;
    margin: -7vh 0 0 0;
  }
}
