@import '../../config/globalStyle.scss';
@import '~include-media/dist/include-media';

.errorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .error404 {
    width: toSize(900);
    max-width: 900px;
    @include media('>1440px') {
      padding-bottom: 66px;
    }
  }

  h1 {
    font-size: toSize(30);
    font-weight: 900;
    margin: 0 0 toSize(20) 0;
    @include media('>1440px') {
      font-size: 30px;
      margin-bottom: 20px;
    }
  }

  p {
    font-size: toSize(20);
    font-weight: 500;
    @include media('>1440px') {
      font-size: 20px;
    }
  }

  div {
    width: toSize(200);
    height: toSize(100);
    margin-top: toSize(80);
    padding-left: toSize(20);
    @include media('>1440px') {
      width: 200px;
      height: 100px;
      margin-top: 80px;
      padding-left: 20px;
    }

    button {
      width: toSize(180);
      height: toSize(50);
      font-size: toSize(20);
      display: flex;
      position: relative;
      align-items: center;
      background-color: #dadada;
      border: none;
      border-radius: 555px;
      &:hover {
        background-color: #878be5;
      }
      @include media('>1440px') {
        width: 180px;
        height: 50px;
        font-size: 20px;
      }

      .audioCable {
        width: toSize(100);
        position: absolute;
        left: toSize(-50);
        @include media('>1440px') {
          width: 100px;
          left: -50px;
        }
      }

      span {
        position: absolute;
        left: toSize(60);
        font-size: toSize(24);
        font-weight: 500;
        @include media('>1440px') {
          left: 60px;
          font-size: 24px;
        }
      }
    }
  }
}
