@import '../../../config/globalStyle.scss';
@import '~include-media/dist/include-media';

.video-player-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: toSize(66);
  position: relative;
  @include media('>1440px') {
    padding-bottom: 66px;
  }
}

.video-player {
  width: toSize(582);
  height: toSize(360);
  filter: grayscale(50);

  @include media('>1440px') {
    width: 582px;
    height: 360px;
  }
}

.mobileImg {
  width: toSizeM(358);
  height: toSizeM(224);
}

.controller {
  margin-left: toSize(30);
  &.rev {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 0px;
    margin-right: toSize(30);
    @include media('>1440px') {
      margin-right: 30px;
    }
    @include media('<768px') {
      position: absolute;
      margin-right: toSizeM(30);
      right: 0;
      top: toSizeM(28);
    }
  }

  @include media('>1440px') {
    margin-left: 30px;
  }

  @include media('<768px') {
    margin-left: toSizeM(40);
    position: absolute;
    left: 0;
    top: toSizeM(28);
  }
}
.introLetter {
  font-size: toSize(40);
  font-weight: 500;

  &.mbL {
    margin-bottom: toSize(25);
    @media (min-width: 1440px) {
      margin-bottom: 25px;
    }
    @include media('<768px') {
      margin-bottom: toSizeM(95);
    }
  }

  @media (min-width: 1440px) {
    font-size: 40px;
  }
  @include media('<768px') {
    font-size: toSizeM(20);
    color: white;
  }
}

.controlBar {
  display: flex;
  align-items: center;
  background-color: #30338a;
  width: toSize(588);
  height: toSize(59);
  margin-bottom: toSize(44);
  padding: 0px toSize(23);

  @include media('>1440px') {
    width: 588px;
    height: 59px;
    margin-bottom: 44px;
    padding: 0px 23px;
  }

  @include media('<768px') {
    height: toSizeM(33);
    margin-bottom: 0;
    padding: 0px;
    background-color: transparent;
    width: auto;
  }
}

.play-pause-button {
  border: none;
  background-color: transparent;
}

.cIcon {
  width: toSize(30);
  height: toSize(30);
  cursor: pointer;

  &.mr {
    margin-right: toSize(30);
    @include media('>1440px') {
      margin-right: 30px;
    }
    @include media('<768px') {
      margin-right: toSizeM(15);
    }
  }

  &.mlPr {
    margin-left: toSize(30);
    @include media('>1440px') {
      margin-left: 30px;
    }
    @include media('<768px') {
      margin-left: toSizeM(15);
    }
  }

  @include media('>1440px') {
    width: 30px;
    height: 30px;
  }

  @include media('<768px') {
    width: toSizeM(15);
    height: toSizeM(15);
  }
}

.goTrade {
  font-size: toSize(20);
  font-weight: bold;
  color: white;
  margin-left: toSize(30);
  padding-left: toSize(30);
  border-left: solid toSize(1) white;
  @include media('>1440px') {
    font-size: 20px;
    margin-left: 30px;
    padding-left: 30px;
    border-left: solid 1px white;
  }

  @include media('<768px') {
    margin-left: toSizeM(10);
    padding-left: toSizeM(10);
    font-size: toSizeM(12);
  }
}
